<app-header></app-header>

<div class="task-container">
  <h1>Tasks</h1>
  <mat-spinner
    *ngIf="todoList.length == 0"
    style="margin-top: 200px; margin-left: 10%;"
  ></mat-spinner>
  <div class="create-tab">
    <h1>Create Task</h1>
    <input type="text" placeholder="name of the task" #name />
    <button (click)="createTask(name.value)">Create Task</button>
  </div>
  <div *ngFor="let data of todoList" class="task-tabs">
    <h1>{{ data.title }}</h1>
    <h2>
      Status <span *ngIf="data.completed">Completed</span
      ><span *ngIf="!data.completed">Uncomplete</span>
    </h2>
    <button (click)="markUncomplete(data.id)" *ngIf="data.completed">
      Mark Uncompleted
    </button>
    <button (click)="markComplete(data.id)" *ngIf="!data.completed">
      Mark Completed
    </button>
  </div>
</div>
