.header {
  z-index: 2;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #073450;
}
.logo {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  color: white;
  font-size: 2.2em;
}
.menu {
  margin-left: 37%;
  float: left;
  color: white;
}
.menu > div {
  cursor: pointer;
  margin-top: 20px;
}
.menu > div > h1 {
  font-weight: lighter;
}
.sign-up {
  float: right;
  width: 20%;
}
.sign-up > .login {
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid white;
  height: 20px;
  float: left;
  width: 25%;
  cursor: pointer;
}

.login > h1 {
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
  margin-left: 9px;
}

@media screen and (min-width: 420px) and (max-width: 600px) {
  .sign-up {
    width: 30%;
  }
  .login {
    /* border: none; */
    width: 50% !important;
  }
  .menu {
    padding-top: 6px;
    margin-left: 10%;
  }
  .menu h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 200px) and (max-width: 420px) {
  .sign-up {
    width: 40%;
  }
  .login {
    /* border: none; */
    width: 60% !important;
  }
  .menu {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .sign-up {
    width: 17%;
  }
  .login {
    /* border: none; */
    width: 60% !important;
  }
}
