<app-header></app-header>
<div class="album-container">
  <h1>Albums</h1>
  <div
    *ngFor="let data of albumList"
    (click)="openGallery(data.id, data.title)"
    class="album-tabs"
  >
    <h1>
      Album Name: <span style="font-weight: lighter;">{{ data.title }}</span>
    </h1>
  </div>
</div>
<div class="shadow">
  <button (click)="closeGallery()">Close</button>
  <div class="album-view">
    <h1>{{ title }}</h1>
    <img
      *ngFor="let image of photos"
      (click)="openImage(image.url)"
      src="{{ image.thumbnailUrl }}"
      alt=""
    />
  </div>
</div>
<div class="shadow-two">
  <button (click)="closeImage()">Close</button>
  <img src="{{ singleImage }}" class="single-image" alt="" />
</div>
